.SSG {
    text-align: center;
    justify-content: center;
    width: 90vw;
}

.ssg-opt {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4vh;
}

.ssg-expand {
    display: flex;
    justify-content: space-evenly;
}

.ssg-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    padding: 1vh;
    min-width:54vh;
    max-width: 33%;
    justify-content:space-between;
    border-style:solid;
    border-width: 2px;
    border-radius: 1vh;
    border-color: rgba(192, 192, 192, 0.4);
}
.ssg-group.vertical {
    display:flex;
    justify-content: center;
    padding-left: 0;
}
.ssg-group.vertical .dropdown {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2vh;
}

.ssg-group .radio {
    display: flex;
    justify-content: space-between;
    margin: 1vh;
    margin-left: 4vh;
    width: 22vh;
}

.ssg-group .number{
    display: flex;
    justify-content: space-between;
    width: 18vh;
    margin: 1vh;
    margin-left: 4vh;
    margin-right: 4vh;
}

.ssg-expand .changelog {
    max-width: 60vw;
    height: fit-content;
    font-size: 1.5vh;
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    border-style: solid;
    border-radius: 2vh;
    padding: 2vh;
    margin-top: 4vh;
}
.ssg-expand:hover .changelog {
    font-weight: normal;
}

.ssg-expand .changelog p, li {
    color:lightgray;
}

.ssg-expand .changelog p a  {
    color: orangered;
}

.ssg-expand .changelog h1 {
    color: darkred;
}

.ssg-expand .changelog h2 {
    color: white;
}