.SSG {
    text-align: center;
    justify-content: center;
    width: 90vw;
    --dark-gray: rgb(32, 32, 32);
}
::selection {
    color:white;
    background-color: darkred;
}
[flex=row] {
    display: flex;
}
[flex=column] {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
[wrap=nowrap] {
    flex-wrap: nowrap;
}
[wrap=normal] {
    flex-wrap: wrap;
}
[spacing=around] {
    justify-content: space-around;
}
[spacing=even] {
    justify-content: space-evenly;
}
[spacing=between] {
    justify-content: space-between;
}
[justify=center] {
    justify-content: center;
}
[justify=left] {
    justify-content: left;
}
[justify=right] {
    justify-content: right;
}
[block=normal] {
    display:block;
}
[block=inline] {
    display: inline-block;
}
[border|=solid] {
    border-style:solid;
    border-width: 0px;
    border-radius: 1vh;
    border-color: rgba(192, 192, 192, 0.4);
}
[border*=top] {
    border-top-width: 2px;
}
[border*=bottom] {
    border-bottom-width: 2px;
}
[border*=left] {
    border-left-width: 2px;
}
[border*=right] {
    border-right-width: 2px;
}
[size=fit] {
    width: fit-content;
    height: fit-content;
}
[font=Norse] {
    font-family: Norse;
}
[pad*=top] {
    padding-top: 1vh;
}
[pad*=bottom] {
    padding-bottom: 1vh;
}
[pad*=left] {
    padding-left: 1vh;
}
[pad*=right] {
    padding-right: 1vh;
}
[margin*=top] {
    margin-top: 1vh;
}
[margin*=bottom] {
    margin-bottom: 1vh;
}
[margin*=left] {
    margin-left: 1vh;
}
[margin*=right] {
    margin-right: 1vh;
}
[margin*=wide-left] {
    margin-left: 4vh;
}
[margin*=wide-right] {
    margin-right: 4vh;
}
.large-group {
    max-width: 85vh;
    padding: 4vh;
}
.large-expand {
    font-family: MotorBlock, Impact;
    font-size: 3vh;
    color:white;
    display: flex;
    flex-direction: column;
}
.ssg-opt {
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ssg-opt .seedfield[child=field] {
    color: darkred;
    max-width: 34vh;
    font-family: MotorBlock, Impact;
    font-size: 2.2vh;
    font-weight: normal;
}
.ssg-opt [child=button]{
    font-family: MotorBlock, Impact;
    font-size: 2vh;
    font-weight: normal;
}
.ssg-opt [child=select] {
    width: 30vh !important;
    font-family: MotorBlock, Impact;
    font-size: 1.8vh;
    font-weight: bold;
    color: darkred;
}
.ssg-opt 
.dropdown[child=select]
.dropdown[child=optgroup] {
    font: 2.5vh Norse;
    border-style: solid;
    border-width: 3px;
    border-color: darkred;
}
.ssg-expand {
    font-family: MotorBlock, Impact;
    font-size: 1.5vh;
    color: white;
    margin-bottom: 1vh;
}
.ssg-group {
    max-width: 100%;
}
.selection {
    max-width: 24vh;
    margin: 1vh;
}
.selection.multiple {
    width: 24vh;
    margin: 1vh;
}
.selection.label {
    font: 1.2vh MotorBlock;
}
.selection
.dropdown[child=select],
.selection.multiple
.dropdown[child=select]
.dropdown[child=optgroup] {
    font: 1.4vh MotorBlock, Impact;
    font-variant-caps:small-caps;
    color:darkred;
    background-color: white;
}
.selection.multiple
.dropdown[child=container] {
    display: inline-block;
    vertical-align: top;
    overflow:hidden;
    border-style: solid;
    border-width: 0px;
    border-right-width: 2px;
    border-color: black;
    width: 100%;
    margin-left: -20px;
}
.selection.multiple
.dropdown[child=select] {
    margin-right:-42px;
    margin-left:-4px;
}
.selection.multiple
.dropdown[child=option] {
    padding-right: 16px;
}
.selection.multiple
.dropdown[child=option]:checked {
    box-shadow: 0 0 10px 100px darkred inset;
}
.selection
.dropdown[child=select]
.dropdown[child=optgroup] {
    font: 2vh Norse;
}
.top-radio {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: MotorBlock;
    
}
.radio {
    font-family: MotorBlock;
    font-size: 1.2vh;
    margin:1vh;
}
.radio [child=area] {
    width: 24vh;
}
.number {
    font-family: MotorBlock;
    font-size: 1.2vh;
    width: 16vh;
    margin: 1vh;
    border-style: solid;
    border-width: 2px;
    border-radius: 0.5vh;
    border-color: gray;
    background-color: white;
}
.number .num[child=label] {
    margin-left:0.5vh;
    color:darkred;
}
.number .num[child=field] {
    font-family: MotorBlock;
    font-size: 1.2vh;
    max-width: 4vh;
    color:darkred;
    border-style: solid;
    border-width: 0px;
    border-left-width: 2px;
    border-color: gray;
    background-color: white;
}
.ssg-opt
.dropdown[child=select]:focus,
.selection
.dropdown[child=select]:focus,
.number .num[child=field]:focus,
.ssg-opt .seedfield:focus {
    outline-style:solid;
    outline-width: 3px;
    outline-offset: -1px;
    outline-color: darkred;
}
.generate [child=button] {
    font-family: MotorBlock;
    font-weight: normal;
}
.changelog {
    max-width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vh;
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    border-style: solid;
    border-radius: 2vh;
    padding: 2vh;
    margin-top: 4vh;
}
.changelog code {
    background-color:darkred;
    border-radius: 0.5vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
}
.changelog p, li {
    color:lightgray;
}
.changelog p a  {
    color: orangered;
}
.changelog p a:hover  {
    font-weight: bold;
}
.changelog h1 {
    color: darkred;
}
.changelog h2 {
    color: lightgray;
}