.seedfield[child=outter-container] {
    display:flex;
    flex-direction: column;
    max-width: 80vh;
}
.seedfield[child=inner-container] {
    display:flex;
    justify-content: center;
    width: 100%;
}
.seedfield[child=field] {
    vertical-align: middle;
    font-family: monospace;
    font-weight: bold;
    font-size: 2.5vh;
    border: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
    width:100%;
}
.seedfield[child=button] {
    cursor:default;
    user-select: none;
    font-family: monospace;
    font-size: 2.5vh;
    font-weight: bold;
    color: darkred;
    align-content: center;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
    background-color: white;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 0.3vh;
}
.seedfield[child=button]:active {
    color: white;
    align-content: center;
    background-color: darkred;
}
