.SeedField {
    font-family: monospace;
    font-weight: bolder;
    color: darkred;
    padding-bottom: 1.2rem;
}
.Field {
    font-size: 1.5rem;
    color: darkred;
    align-content: center;
}
.label {
    background-color: white;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: black;
    border-width: 0.2rem;
    font-family: monospace;
    margin-bottom: 0.2rem;
}
label {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding-left: 0.5rem;
}