.checkbox-container {
    display: flex;
}

.checkbox {
    background-color: lightgray;
    width: 1vh;
    height: 1vh;
    border-color: white;
    border-style: solid;
    border-width: 0.4vh;
    border-radius: 1vh;
    margin-top: 0.5vh;
}
.checkbox-active {
    background-color:darkred;
    width: 1vh;
    height: 1vh;
    border-color: white;
    border-style: solid;
    border-width: 0.4vh;
    border-radius: 1vh;
    margin-top: 0.5vh;
}
.label {
    user-select: none;
    font-family: Norse;
    font-size: 2vh;
    color: white;
    padding-top:0.2vh;
    margin-left: 1.5vh;
    margin-right: 1.5vh;
}
.label:hover {
    font-weight: bold;
}