.checkbox[child=outer-container] {
    max-width: 60vh;
}
.checkbox[child=inner-container] {
    width: 100%;
}
.checkbox[child=box] {
    --box-size: 1.2vh;
    width: var(--box-size);
    height: var(--box-size);
    border-color: white;
    border-style: solid;
    border-width: 0.25vh;
}
.checkbox [boxStyle=round] {
    border-radius: var(--box-size);
}
.checkbox [active=false] {
    background-color: lightgray;
}
.checkbox [active=true] {
    background-color:darkred;
}
.checkbox[child=label] {
    user-select: none;
    color: white;
}
.checkbox[child=label]:hover {
    font-weight: bold;
}
