[visible=false] {
    display: none;
}

[visible=true] {
    display: inline;
}

[child=tooltip] {
    height: 0px;
}


.tooltip {
    z-index: 100;
    text-align: left;
    position:sticky;
    width: 100%;
    color: white;
    font-size: 1.5vh;
    font-family: monospace;
    font-weight: bold;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
    padding-left: 2vh;
    padding-right: 2vh;
    background-color: rgba(0,0,0,0.9);
    border-radius: 2vh;
}

.tooltip li {
    text-align: left;
    padding-left: 0;
    padding-top: 0;
}
