.gen {
    font-size: 4vh;
    font-family: Norse;
    font-weight: bolder;
    color: darkred;
    background-color: white;
    border-radius: 1.0rem;
    border-style:solid;
    border-color: black;
    border-width: 0.2rem;
}
.gen:active {
    font-size: 4vh;
    font-family: Norse;
    font-weight: bolder;
    color: white;
    background-color: darkred;
    border-radius: 1.0rem;
    border-style:solid;
    border-color: black;
    border-width: 0.2rem;
}