.download[child=button] {
    font-size: 4vh;
    font-weight: bolder;
    color: darkred;
    background-color: white;
    border-radius: 1.5vh;
    border-style:solid;
    border-color: black;
    border-width: 0.5vh;
}
.download[child=button]:active {
    color: white;
    background-color: darkred;
}