@font-face {
  font-family: 'Norse';
  src: url(./fonts/Norse.woff),
      url(./fonts/Norse.svg),
      url(./fonts/Norse.ttf);
}
@font-face {
    font-family: 'MotorBlock';
    src: url(./fonts/MotorBlock.woff),
        url(./fonts/MotorBlock.svg),
        url(./fonts/MotorBlock.ttf);
    unicode-range: U+30-39, U+41-5a, U+61-7a;
}
@font-face {
  font-family: 'RunyTunes';
  src: url(./fonts/RunyTunesRevisitedNF.woff),
      url(./fonts//RunyTunesRevisitedNF.svg),
      url(./fonts//RunyTunesRevisitedNF.ttf);
}
.App {
  text-align: center;
}

.logo {
  margin-top: 2vh;
  height: 10vh;
}

.Title {
  color: white;
  font-size: 4vh;
  font-family:MotorBlock;
  padding-bottom: 1.5vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
