.Dropdown {
    font-size: 2vh;
    font-family: Norse;
    font-weight: bold;
    text-align: center;
    color: darkred;
    background-color: white;
    border-color: black;
    border-style: solid;
}

.dropdown-option {
    text-align: center;
    justify-content: center;
}